.title {
    margin: 25px 0 10px 0;
}

.userName {
    color: #818080;
    margin-bottom: 20px;
}

.position {
    margin: 0 165px;
}

.informationLots {
    color: #818080;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 165px;
}

.information {
    color: #818080;
    font-size: 18px;
    line-height: 18px;
}

.description {
    font-weight: bold;
}

.blockInformation {
    word-break: break-word;
    width: 60%;
}

.userLink {
    text-decoration: none;
}

.userName:hover {
    color: #615EF3;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #615EF3;
}