.position {
    margin: 0 100px 0 165px;
}

.title {
    margin: 25px 0 40px;
}

.cardAbout {
    width: 1150px;
    height: 270px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cardAdvantagePosition {
    width: 1250px;
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.logo {
    margin-left: 90px;
    margin-top: -70px;
}

.cardAdvantageRight {
    margin: 20px 0 0 20px;
}

.textAbout {
    display: inline-block;
    width: 600px;
    margin: 50px 0 0 80px;
    font-size: 22px;
    line-height: 24px;
}

.cardAdvantage {
    width: 600px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.cardAdvantage > div, h6, p {
    font-size: 20px;
}

.cardAdvantage > div {
    padding: 20px 20px 20px 35px;
}

.upToAuction {
    margin: 30px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}