.input {
    border-radius: 10px;
    background: #FFFFFF;
    width: 600px;
    height: 50px;
    outline: 0;

    color: #F76F7A;
    border: 2px solid #F76F7A;
    font-family: SF Pro Display, Montserrat, sans-serif;
    font-size: 20px;
    line-height: 28px; /* 140% */
    padding-left: 30px;
}

.small {
    width: 300px;
}

.large {
    width: 900px;
}
