.positionElTable {
    margin-bottom: 30px;
}

.textUpdate {
    font-size: 18px;
    color: #b7b7b7;
    margin-bottom: 10px;
}

.mainTextTable {
    display: inline-block;
}

.position {
    margin: 20px 0 0 165px;
}
