.forgotPassword {
    color: #727171;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.marginForgotPassword {
    margin-top: 10px;
}

.link {
    color: #615ef3;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}
