.forgotPassword {
    color: #727171;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.positionClose {
    position: absolute;
    float: left;
    margin: -60px 0 0 -60px;
    @media screen and (max-width: 768px) {
        margin: -63px 0 0 0;
    }
}

.marginForgotPassword {
    margin-top: 10px;
}

.link {
    color: #615ef3;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.checkbox {
    display: inline;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
