.position {
    margin: 70px 150px 0 100px;
}

.left {
    float: left;
    width: 40%;
}

.positionButton {
    margin: 10px 0;
}

.textBets {
    font-weight: bold;
    display: inline-block;
}

.positionShowBet {
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}

.notBet {
    color: #ff6e6e;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 140% */
}

.positionClose {
    position: absolute;
    right: 150px;
    margin-top: 10px;
}

.right {
    float: right;
    width: 57%;
}

.information {
    margin-bottom: 20px;
}

.information > p {
    margin: 0 0 5px 0;
}

.img {
    width: 650px;
    height: 650px;
    object-fit: cover;
    margin-bottom: 30px;
}

.auxiliaryText {
    color: #818080;
    font-size: 20px;
    margin-bottom: 5px;
}

.linkLot {
    color: #615ef3;
    text-decoration: none;
}

.protectedText {
    color: #d9d9d9;
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    font-weight: 900;
}

.informationBet {
    font-size: 18px;
    color: #B7B7B7;
    margin-bottom: 0;
}

@media screen and (max-width: 1600px) {
    .img {
        width: 500px;
        height: 500px;
    }

    h2 {
        font-size: 32px;
    }
}
