.position {
    margin: 50px 150px 0 80px;
}

.left {
    float: left;
    width: 40%;
    margin-right: 60px;
}

.description {
    line-height: 26px;
}

.notBet {
    color: #D72828;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 140% */
}

.positionClose {
    position: absolute;
    right: 150px;
    margin-top: 10px;
}

.right {
    float: right;
    width: 50%;
    margin-right: 100px;
}

.information {
    margin-bottom: 30px;
}

.information > p {
    color: #818080;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.img {
    width: 650px;
    height: 650px;
    object-fit: cover;
    margin-bottom: 30px;
}

.auxiliaryText {
    color: #818080;
    font-size: 20px;
    margin-bottom: 5px;
}

.textUser {
    color: #615EF3;
    text-decoration: none;
}

.protectedText {
    color: #D9D9D9;
    font-size: 14px;
}


@media screen and (max-width: 1600px) {
    .img {
        width: 500px;
        height: 500px;
    }

    h2 {
        font-size: 32px;
    }

}