.btn {
    border-radius: 10px;
    border: 2px solid #615EF3;
    width: 175px;
    height: 40px;
    background: #FFFFFF;
    color: #615EF3;
    font-family: SF Pro Display, Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn:hover {
    background: #615EF3;
    color: #FFFFFF;
}