.position {
    margin: 25px 0 25px 165px;
}

.positionFormEth {
    margin: 50px 0;
}

.positionAddWallet {
    margin-top: 20px;
}

.title {
    display: inline-block;
    color: #606060;
}

.balance {
    color: #818080;
}

.textTitle {
    color: #606060;
    margin-bottom: 0;
}

.fox {
    width: 50px;
    vertical-align: text-bottom;
    margin-left: 10px;
}

.attention {
    color: #F76F7A;
    font-size: 20px;
    margin-top: 3px;
}

.bill {
    color: #818080;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 25px;
}

.currency {
    display: inline-block;
    font-size: 18px;
    color: #B7B7B7;
    margin-right: 20px;
}