.textArea {
    width: 570px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    border: 0;
    outline: 0;

    color: #818080;
    font-family: SF Pro Display, Montserrat, sans-serif;
    font-size: 20px;
    line-height: 28px; /* 140% */
    padding: 20px 30px;
    resize: none;
    margin-bottom: 10px;
}

.title {
    color:  #818080;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0;
    display: block;
}

.error {
    border-radius: 10px;
    background: #FFFFFF;
    outline: 0;

    color: #F76F7A;
    border: 2px solid #F76F7A;
    font-family: SF Pro Display, Montserrat, sans-serif;
    font-size: 20px;
    line-height: 28px; /* 140% */
    padding-left: 30px;
}
