.input {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f5f5f5 url('../../../../design/icons/calendar.svg') 95% 50% no-repeat;
    color: #818080;
    font-family: SF Pro Display,
    Montserrat,
    sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
    border: 0;
    outline: 0;
    padding-left: 30px;
    margin-bottom: 10px;
}

.title {
    color: #818080;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0;
    display: block;
}

.error {
    border-radius: 10px;
    background: #ffffff url('../../../../design/icons/calendar error.svg') 95% 50% no-repeat;
    outline: 0;

    color: #f76f7a;
    border: 2px solid #f76f7a;
    font-family: SF Pro Display,
    Montserrat,
    sans-serif;
    font-size: 20px;
    line-height: 28px; /* 140% */
    padding-left: 30px;
}

[type='datetime-local']::-webkit-inner-spin-button {
    display: none;
}

[type='datetime-local']::-webkit-calendar-picker-indicator {
    opacity: 0;
    padding-left: 40px;
}
